# executables and compiler stuff
chart
proc_data
levelup
*.o
# ENSDF data files
data
ensdf
ensdf.*
*.dat
#files generated when testing program
list
*tmpdatafile*
# data file types
*.mca
*.fmca
*.spe
*.root
*.ini
# temporary files from text editors
*.save
*~
.vscode
*.code-workspace
sample_parameters
octave-workspace
*flatpak*
