#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name[en_CA]=Chart of Nuclides
Name[en_US]=Chart of Nuclides
Name=Chart of Nuclides
GenericName=Isotope Browser
Comment=Browse isotope and nuclear data
Terminal=false
Exec=con
Icon=io.github.e_j_w.ChartOfNuclides
Categories=Science;Education;
Keywords=nuclear;isotope;table;segre;
