[Desktop Entry]
Version=1.0
Type=Application
Name[en_CA]=Chart of Nuclides
Name[en_US]=Chart of Nuclides
Name=Chart of Nuclides
GenericName=Chart of Nuclides
Exec=con
Icon=io.github.e_j_w.ChartOfNuclides
Categories=Utility;
